*{
  box-sizing: border-box;  
}
body{
    background-image: url('./image/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    color : #800f2f;
}
.digital-clock{
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #183a37;
    box-shadow: 0px 10px 10px #fff;
    padding: 40px;
    font-size: 4rem;
    color : #fff;
}

.square{
    width : 200px;
    height: 150px;
    border-radius: 15px;
    background : linear-gradient(#efc3e6, #001d3d);
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.circle{
    width : 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(#780000, #f7e1d7);
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: -1;
}